/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* === Global ===*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.active{
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}

/*Navbar Area*/

.navbar{
    
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: rgb(228, 228, 228);
}
.nav-links {
   display: flex;
   align-items: center;
}

.nav-links li{
    margin: 0 30px;
    cursor: pointer;
}


.btn-1{
    padding: 7px;
    background-color: #fc036b;
    border-radius: 15px;
    transition: .4s; 

}

.btn-1:hover{
  background-color: #f5e452;
  color: #5d5b5b; 
}



/*Header Area*/

header {
    width: 100%;
    height: 600px;
    background-image: url("img/hill-image.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}

.header-content{
    margin-bottom: 150px;
    color: #fffefe;
    text-align: center;
}
.header-content h2{
    font-size: 8vmin;
}
.line{
    width: 100px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;

}
.header-content h1{
    font-size: 5vmin;
    margin-top: 20px;
    margin-bottom: 40px;
}
.btn{
   padding: 10px 15px;
   background-color: #fc036b;
   border-radius: 10px;
   color: whitesmoke; 
   transition: .4s; 
   font-weight: 600;
}

.btn:hover{
    background-color: #f5e452;
    color: #5d5b5b; 
  }

.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
  }
/*== Event css ==*/

section{
   width: 80%;
   margin: 80px auto;
}
.title{
    text-align: center;
    font-size: 5vmin;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
     
}
.row .col img{
    width: 80%;
    
}
.row .col{
    display: flex;  
    flex-direction: column;
    align-items: center;
}

.event .row{
margin-top: 50px;
}

h4{
    color: #084e8c;
    font-size: 3vmin;
    margin: 20px auto;
}
p{
    color: #6c6e70;
    padding: 0px 40px;

}
.event .row .btn{
    margin-top: 30px;
}

/*mobile device*/

@media only screen and (max-width:850px){

    .menu-btn{
    display: block;
    }

    .logo{
    position: absolute;
    top: 30px;
    bottom: 30px;  
    left: 20px;  
    }

    .navbar{
      padding: 0px;  
    }

    .nav-links{
      flex-direction: column;
      width: 100%;
      height: 100vh;
      justify-content: center;
      background-color: #084e8c;
      margin-top: -900px;
      transition: all 0.5s;
    }

    .mobile-menu{
      margin-top: 0px;
      border-bottom-right-radius: 30%;
    }

    .nav-links li{
        margin: 20px auto;
    }
}








